#home-container {
  margin: 20px 0;
  display:grid;
  grid-template-columns: repeat(10,1fr);
}

#homepage-header {
  text-align: center;
}

#home-container #center {
  grid-column: span 8;
}

#pet-collage {
  display:block;
  margin:auto;
}

/* Modal CSS */
div.ReactModal__Content.ReactModal__Content--after-open {
  width:70%;
}

#modal-close {
  margin-top: 10px;
}
/* --------- */

/* Sign In Page CSS */

#sign-in-header {
  margin:25px 0;
  text-align: center;
}

#sign-in-form {
  width: 50%;
  margin: auto;
  padding: 25px 25px 0px 25px;
  background-color: rgba(220,220,220,0.8);
  border-radius: 5px;
}

.control-label {
  margin: 5px;
  font-weight: bolder;
}

#sign-in-button {
  margin-top: 20px;
  /* cursor:pointer; */
}

/* #sign-in-button:hover {
  background-color:#009bff;
  border-color:#009bff;
} */

#sign-in-footer {
  margin-top:20px;
  display:flex;
  justify-content: space-between;
}

/* ---------------- */

/* Sign Up Page CSS */

#sign-up-header {
  margin:25px 0;
  text-align: center;
}

#sign-up-form {
  width: 50%;
  margin: auto;
  padding: 25px 25px 10px 25px;
  background-color: rgba(220,220,220,0.8);
  border-radius: 5px;
}

#sign-up-button {
  margin: 20px 0;
  cursor:pointer;
}

#sign-up-button:hover {
  background-color:#009bff;
  border-color:#009bff;
}

/* ---------------- */

/* Forgot Password and Change Form Page */

#pw-forget-header, #pw-change-header {
  margin:25px 0;
  text-align: center;
}

#pw-forget-form, #pw-change-form {
  width: 50%;
  margin: auto;
  padding: 25px 25px 10px 25px;
  background-color: rgba(220,220,220,0.8);
  border-radius: 5px;
}

#pw-forget-button, #pw-change-button {
  margin-top: 20px;
}

/* ----------------- */


#pet-profile-header, #edit-pet-profile-header {
  text-align:center;
  margin: 20px 0;
}

/* Create Pet Profile CSS */

#create-pet-profile-header {
  text-align:center;
  margin: 20px 0;
}

#upload-photo {
  display:block;
}

#create-pet-button {
  margin:0;
}


/* ----------------- */

/* Edit Pet Profile CSS */

#edit-pet-card {
    max-width: 500px;
    display: block;
    margin: auto;
    padding: 15px;
    background-color: rgba(220,220,220,0.8);
}

#edit-pet-img {
  height: 100%;
  border: 2px solid;
}

#edit-pet-footer {
  padding: 2rem 0 0 0;
}

#edit-pet-footer > .form-group {
  margin: 0;
}

/* ----------------- */

/* Daily Logs CSS */

#daily-logs-div {
  border: 2px solid;
  padding: 10px;
  background-color: rgba(220,220,220,0.8);
}



/* ----------------- */
